{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'base.html.twig' %}
{% block sonata_page_head %}
    {{ parent() }}
    {#{% include 'includes/meta-home.html.twig' %}#}
{% endblock %}
{% block sonata_page_body_tag %}
<body class="home">
{% endblock %}
{% block sonata_page_top_bar %}
    {% block page_top_bar %}
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N4MHQCW" height="0" width="0"
                    style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->

        <!-- Loader -->

        <!--  -->
        <!-- Header -->
        {% include 'includes/loader.html.twig' %}
        {% include 'includes/header.html.twig' %}
        <!--  -->

    {% endblock %}
{% endblock %}
{% block sonata_page_container %}
    <div id="butter">
        <main>
            {{ sonata_page_render_container('content_top', page) }}
            {{ sonata_page_render_container('content', page) }}
        </main>
    </div>
{% endblock %}
{% block sonata_page_asset_footer %}
    {% block page_asset_footer %}
        {% include 'includes/getquote.html.twig' %}
        <!-- -----------------SLIDER-CURSOR-----START------------------------ -->
        <div class="cursor"></div>
        <div class="cursor-follower"></div>
        <!-- -----------------SLIDER-CURSOR-----END-------------------------- -->


        {% include 'includes/scripts.html.twig' %}

    {% endblock %}
{% endblock %}
{% block sonata_page_javascripts %}
{% endblock %}