<!-- Hero Section -->
           <section class="hero--section home-hero" id="heroSec">
               <div class="home-hero__heroImg">
                   <div class="img-wrapper">
                       <picture>
                           <source media="(min-width:576px)" srcset="/assets/images/hero/home.webp">
                           <img src="/assets/images/hero/home.webp" alt="hero-img">
                       </picture>
                       <div class="video-wrapper" id="video">
                           <!-- <video autoplay muted loop playsinline preload="metadata">
                           <source class="lazy-img" data-src="/assets/video/hero-bg.mp4" type="video/mp4">
                       </video> -->
                       </div>
                   </div>
                   <div class="home-hero__hero-caption">
                       <div class="home-hero__hero-caption--container container">
                           <h1>
                               <span class="gradient-anim">Pushing Your </span>
                               <span>Brand Towards</span>
                               <span> Future</span>
                           </h1>
                       </div>
                   </div>
               </div>
               <div class="home-hero__hero-banner">
                   <div class="home-hero__hero-banner--container container">
                       <div class="home-hero__hero-banner--wrapper">
                           <p class="home-hero__hero-banner--descrip">
                               Create awesome digital products. Promote your brand with peerless creative solutions. For all your digital needs, we have you covered!
                           </p>
                           <div class="anchor-wrapper">
                               <a href="tel:+97145969865" class="arrow-anchor">
                                   <span>Let's Talk</span>
                                   <div class="img-wrapper">
                                       <img class="svg-convert" src="/assets/svg/anchor-arrow.svg" alt="">
                                   </div>
                               </a>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="hero--section__social-linkWrapper">
                   <a href="https://www.facebook.com/dgravityagency/" target="_blank" class="hero--section__social-link">
                       <div class="img-wrapper">
                           <img class="svg-convert" src="/assets/svg/social/facebook.svg" alt="facebook">
                       </div>
                   </a>
                   <a href="https://twitter.com/dgravityagency" target="_blank" class="hero--section__social-link">
                       <div class="img-wrapper">
                           <img class="svg-convert" src="/assets/svg/social/twitter.svg" alt="twitter">
                       </div>
                   </a>
                   <a href="https://www.instagram.com/dgravityagency/" target="_blank" class="hero--section__social-link">
                       <div class="img-wrapper">
                           <img class="svg-convert" src="/assets/svg/social/instagram.svg" alt="instagram">
                       </div>
                   </a>
                   <a href="https://www.linkedin.com/company/dgravityagency/mycompany/" target="_blank" class="hero--section__social-link">
                       <div class="img-wrapper">
                           <img class="svg-convert" src="/assets/svg/social/linkedin.svg" alt="linkedin">
                       </div>
                   </a>
                   <a href="https://www.youtube.com/c/DGravityAgency" target="_blank" class="hero--section__social-link">
                       <div class="img-wrapper">
                           <img class="svg-convert" src="/assets/svg/social/youtube.svg" alt="youtube">
                       </div>
                   </a>
               </div>

               <div class="projectBanner">
                   <div class="projectBanner__leftsec menu-open">
                       <div class="projectBanner__leftsec--img">
                           <img class="svg-convert" class="lazy-img" data-src="/assets/svg/project-icon.svg" alt="project-icon">
                       </div>
                       <div class="projectBanner__leftsec--head">
                           Start your Project
                       </div>
                       <div class="projectBanner__leftsec--arrow">
                           Click Here
                           <div class="img-wrapper">
                               <img class="svg-convert" src="/assets/svg/anchor-arrow.svg" alt="anchor-arrow">
                           </div>
                       </div>
                   </div>
                   <div class="projectBanner__rightsec lets-play" data-video="https://vimeo.com/716401284?background=1&autoplay=1&loop=1&title=0&byline=0&portrait=0&api=1">
                       <div class="img-wrapper">
                           <img class="lazy-img" data-src="/assets/images/hero/video-btn-background.webp" alt="video-btn-background">
                       </div>
                       <div class="play-icon">
                           <div class="button-outer-circle has-scale-animation "></div>
                           <div class="button-outer-circle has-scale-animation has-delay-short"></div>
                           <div class="play-icon-arrow"></div>
                       </div>
                   </div>
               </div>
           </section>
           <!--  -->