<footer class="footer  animate" data-delay="0.4s">
    <div class="line-heading  animate fadein-Right" data-delay="0.6s">
        <h3 class="outline-text translateX-right">
            Design.Built.Launch
        </h3>
    </div>
    <div class="footer__top">
        <div class="container footer__container">
            <div class="twocol-row">
                <div class="footer__top--qlinks-wrapper">
                    <div class="footer__top--qlinks-col">
                        <div class="left-descrip  animate fadein-Right" data-delay="0.4s">
                            <h2 class="s-font">
                                Let’s build
                                <span>something awesome</span>
                            </h2>
                            <p>Reach out to our team and we'll get back to you within a day.</p>
                        </div>
                        <div class="contact-info-wrapper  animate fadein-Right" data-delay="0.4s">
                            <p class="address">
                                904, Dusseldorf Business Point, Dubai UAE
                            </p>
                            <div class="mail">
                                <a href="mailto:discover@digitalgravity.ae"
                                   class="w-uline">discover@digitalgravity.ae</a>
                            </div>
                            <div class="num">
                                <a href="tel:+97142421375" class="w-uline">+971 4 242 1375</a>
                            </div>
                            <div class="icon-wrapper">
                                <a class="icon" href="https://twitter.com/dgravityagency" target="_blank">
                                    <img class="lazy-img" data-class="lazy-img"
                                         data-src="/assets/svg/social/twitter.svg" alt="twitter">
                                </a>
                                <a class="icon" href="https://www.facebook.com/dgravityagency/" target="_blank">
                                    <img class="lazy-img" data-class="lazy-img"
                                         data-src="/assets/svg/social/facebook.svg" alt="facebook">
                                </a>
                                <a class="icon" href="https://www.instagram.com/dgravityagency/" target="_blank">
                                    <img class="lazy-img" data-class="lazy-img"
                                         data-src="/assets/svg/social/instagram.svg" alt="instagram">
                                </a>
                                <a class="icon" href="https://www.youtube.com/c/DGravityAgency" target="_blank">
                                    <img class="lazy-img" data-class="lazy-img"
                                         data-src="/assets/svg/social/youtube.svg" alt="youtube">
                                </a>
                                <a class="icon" href="https://www.linkedin.com/company/dgravityagency/mycompany/"
                                   target="_blank">

                                    <img class="lazy-img" data-class="lazy-img"
                                         data-src="/assets/svg/social/linkedin.svg" alt="linkedin">

                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="footer__top--qlinks-col">
                        <div class="qlinks__col__wrapper">
                            {% set footerMenu= 'footer'|getMenuByAlias %}
                            {% set delay= 0.4 %}
                            {% if footerMenu|length>0 %}
                                {% for menu in footerMenu %}
                                    <div class="toggle-btn qlinks__col__item  animate fadein-Right"
                                         data-delay="{{ delay }}s">
                                        <p class="">{{ menu.title??'' }}</p>
                                        {% if menu.childItems|length>0 %}
                                            <ul class="qlinks-menu">
                                                {% for child in menu.childItems %}
                                                    {% if child.enabled==1 %}
                                                        {% set childurl = child.targetUrl??'javascript:' %}
                                                        {% if child.type=='page' %}
                                                            {% set childurl = child.page.url %}
                                                        {% endif %}
                                                        <li class="qlinks-menu__item "><a href="{{ childurl }}"
                                                                                          class="w-uline">
                                                                {{ child.title??'' }}</a></li>
                                                    {% endif %}
                                                {% endfor %}

                                            </ul>
                                        {% endif %}
                                    </div>
                                    {% set delay = delay+0.2 %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bg"></div>
</footer>