<!-- review -->
<section class="home-review badge TechnologyStack-section section">
    <div class="container swiper badge-slider">
        <div class="badge-heading">
            <h2>{{ settings.title is defined? settings.title|raw:'' }}</h2>
        </div>
        <div class="twocol-row badge-wrapper swiper-wrapper">
            {{ settings.content is defined? settings.content|raw:'' }}
        </div>
    </div>
</section>
<!--  -->